body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #ff7eb3, #ff758c); 
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2); 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button {
    margin-top: 15px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #ff7eb3;
    color: white;
}

button:hover {
    opacity: 0.8;
}

#letter {
    width: 300px;
    min-height: 400px; 
    background-color: #fff; 
    border-radius: 15px;
    position: relative;
    margin-top: 30px;
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    display: none; 
    padding: 20px;
    text-align: left;
    font-size: 18px;
    color: #333; 
    line-height: 1.5;
}

#letter:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#message {
    white-space: pre-wrap;
    font-size: 18px; 
    color: #000; 
    word-wrap: break-word; 
    line-height: 1.5;
    margin-bottom: 20px;
}

#fireworks, #happyNewYear {
    display: none;
}

.countdown {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.happyNewYear {
    font-size: 30px;
    font-weight: bold;
    color: white; 
    display: none;
    margin-top: 20px;
}

#openLetter {
    background-color: #ff7eb3;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#openLetter:hover {
   opacity:0.8;
}